.avatar-show-img {
  width: 128px;
  height: 128px;
  }
  
  .well.profile-block {
    color: #fff;
    h3 {
      margin-top: 0;
  
  }
}

.well.profile-description {
  background-color: #B21852;
  border-color: #B21852;
}

.well.profile-contact-info {
  background-color: #16687A;
  border-color: #16687A;
}